@model PBL3.Models.QuanLyThietBi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuanLyThietBi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.ACCOUNT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.ACCOUNT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThietBi.THIETBI_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThietBi.THIETBI_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QUANLYTHIETBI_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
