@model IEnumerable<PBL3.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ACCOUNT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCOUNT_PASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCOUNT_ROLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountInfo.USER_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ACCOUNT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACCOUNT_PASSWORD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACCOUNT_ROLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountInfo.USER_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ACCOUNT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ACCOUNT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ACCOUNT_ID })
        </td>
    </tr>
}

</table>
