@model ICollection<PBL3_2.Models.Account>

@{
    ViewBag.Title = "Choose PT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-bottom: 50px; margin-top: 50px;">
    <h2 style="color: green;">@ViewBag.Title</h2>
</div>

<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Gender
        </th>
        <th>
            Phone number
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountInfo.USER_NAME)
            </td>
            <td>
                @item.AccountInfo.ACCOUNT_GENDER
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountInfo.ACCOUNT_PHONE)
            </td>
            <td>
                <button>
                    @Html.ActionLink("Choose", "ChoosePT", new { id = item.ACCOUNT_ID, ID_LOP = ViewBag.ID_LOP})

                </button>

            </td>
        </tr>
    }

</table>
