@model IEnumerable<PBL3_2.Models.Request>

@{
    ViewBag.Title = "Joining Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-bottom: 50px; margin-top: 50px;">
    <h2 style="color: green;">@ViewBag.Title</h2>
</div>

<table class="table">
    <tr>
        <th>
            User name
        </th>
        <th>
            Membership
        </th>
        <th>
            PT Name
        </th>

        <th>
            Number of Customers
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.ACCOUNT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lop.LoaiGoi.GOI_TYPE)
            </td>
            <td>
                @{
                    if (item.Lop.Staff == null)
                    {
                        <p>No PT</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Lop.Staff.AccountInfo.USER_NAME)

                    }
                }
            </td>

            <td>
                @item.Lop.Accounts.Count
            </td>
            <td>
                @{
                    <div>
                        @if (ViewBag.Role != "0")
                        {

                            @Html.ActionLink("Confirm", "testConfirm", new { id = item.REQUEST_ID, sub = "AcceptJoin", query = item.query }, new { @class = "btn btn-primary" })

                        }
                        @Html.ActionLink("Delete", "testConfirm", new { id = item.REQUEST_ID, sub = "DeleteJoin" }, new { @class = "btn btn-primary" })
                    </div>
                }
            </td>
        </tr>
    }

</table>
