@model PBL3_2.Models.Lop
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Lop</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-group">
    <label class="control-label col-md-2">Loại gói</label>
    <div class="col-md-4">
        @Html.DropDownList("loai", ViewBag.loai as SelectList)
    </div>
</div>  
    <div class="form-group">
        <label class="control-label col-md-2">Bắt đầu</label>
        <div class="col-md-4">
            <input class="form-control" name="LOP_START" type="date" />
            @Html.ValidationMessageFor(model => model.LOP_START, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Kết thúc</label>
        <div class="col-md-4">
            <input class="form-control" name="LOP_END" type="date" />
            @Html.ValidationMessageFor(model => model.LOP_END, "", new { @class = "text-danger" })  
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Số buổi</label>
        <div class="col-md-4">
            <input class="form-control" name="LOP_NUMBERSESSION" type="number" />
            @Html.ValidationMessageFor(model => model.LOP_NUMBERSESSION, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
