@model PBL3_2.Models.Lop

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chỉnh sửa phiên tập</h2>

<table class="table">
    <tr>
        <th>
            Ngày tập
        </th>
        <th>
            Bắt đầu 
        </th>
        <th>
            Kết thúc
        </th>
    </tr>

    @foreach (var item in Model.PhienTaps)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PHIENTAP_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHIENTAP_startt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHIENTAP_endd)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "PhienTaps", new { id = item.PHIENTAP_ID }) |
                @Html.ActionLink("Details", "Details", "PhienTaps", new { id = item.PHIENTAP_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PHIENTAP_ID }) |
                
                @* Viết hàm del để giảm số lượng number của lop xuống *@

            </td>
        </tr>
    }

</table>
                @Html.ActionLink("Add", "Add", "PhienTap", new { id = Model.LOP_ID }) |
                @* Viết thêm hàm Add thêm buổi   *@



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
