@model IEnumerable<PBL3_2.Models.Lop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Join class</h2>

<table class="table table-bordered">
    <tr>
        <th>
            Type
        </th>
        <th>
            Fee (1 Session)
        </th>
        <th>
            @* Hiển thị tên của giáo viên *@
            PT Name

        </th>
        <th>
            @* Hiển thị ra số lượng buổi tập *@
            Number of Session
        </th>
        <th>
            @* Hiển thị ra thời gian buổi tập  *@
            @* Hiển thị ra combobox ( ban đầu chỉ hiển thị thứ ) sau đó hiển thị ra từng giờ *@
            Schedule

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.LoaiGoi.GOI_TYPE)
        </td>
        <td>
            @Html.DisplayFor(model => item.LoaiGoi.GOI_FEE)
        </td>
        <td>
            @* Hiển thị tên của giáo viên *@
            @Html.DisplayFor(model => item.Accounts.FirstOrDefault().AccountInfo.USER_NAME)

        </td>
        <td>
            @* Hiển thị ra số lượng buổi tập *@
            @Html.DisplayFor(model => item.LOP_NUMBERSESSION)
        </td>
        <td>
            @* Hiển thị ra thời gian buổi tập  *@
            @* Hiển thị ra combobox ( ban đầu chỉ hiển thị thứ ) sau đó hiển thị ra từng giờ *@
            @{
                string x = "";
                foreach (PBL3_2.Models.PhienTap i in item.PhienTaps)
                {
                    x += i.PHIENTAP_startt.Hour.ToString();
                    x += ":";
                    x += i.PHIENTAP_startt.Minute.ToString();
                    x += " -";

                    switch (i.PHIENTAP_DATE)
                    {
                        case 0:
                            x += " T2";
                            break;
                        case 1:
                            x += " T3";
                            break;
                        case 2:
                            x += " T4";
                            break;
                        case 3:
                            x += " T5";
                            break;
                        case 4:
                            x += " T6";
                            break;
                        case 5:
                            x += " T7";
                            break;
                        case 6:
                            x += " CN";
                            break;
                        default:
                            break;
                    }

                    x += "; ";
                }
            }
            @x

        </td>
        <td>
            <form action="@Url.Action("Details", new { id = item.LOP_ID })" method="get">
                <button type="submit" name="sub" value="create" class="btn btn-default">Details</button>
            </form>

        </td>
        <td>
            <form action="@Url.Action("ChooseJoin", new {sub = @item.LOP_ID})">
                <button type="submit" name="sub" value="@item.LOP_ID" class="btn btn-default">Join</button>
            </form>

        </td>

    </tr>
}

</table>

<h2>Create new class</h2>

@* Tạo một lớp  *@

@*Chọn loại lớp
Chọn số buổi 
Chọn buổi*@

<form action="@Url.Action("Create")" method="get">
    <button type="submit" class="btn btn-default">Create</button>
</form> 