@model IEnumerable<PBL3_2.Models.Lop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tham gia lớp mới</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Loại lớp
        </th>
        <th>
            Phí tập (1 buổi)
        </th>
        <th>
            @* Hiển thị tên của giáo viên *@
            Tên huấn luyện viên

        </th>
        <th>
            @* Hiển thị ra số lượng buổi tập *@
            Số buổi
        </th>
        <th>
            @* Hiển thị ra thời gian buổi tập  *@
            @* Hiển thị ra combobox ( ban đầu chỉ hiển thị thứ ) sau đó hiển thị ra từng giờ *@
            Thời khóa biểu

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.LoaiGoi.GOI_TYPE)
        </td>
        <td>
            @Html.DisplayFor(model => item.LoaiGoi.GOI_FEE)
        </td>
        <td>
            @* Hiển thị tên của giáo viên *@
            @Html.DisplayFor(model => item.Accounts.FirstOrDefault().AccountInfo.USER_NAME)

        </td>
        <td>
            @* Hiển thị ra số lượng buổi tập *@
            @Html.DisplayFor(model => item.LOP_NUMBERSESSION)
        </td>
        <td>
            @* Hiển thị ra thời gian buổi tập  *@
            @* Hiển thị ra combobox ( ban đầu chỉ hiển thị thứ ) sau đó hiển thị ra từng giờ *@


        </td>
        <td>
            <form action="@Url.Action("Details", new { id = item.LOP_ID })" method="get">
                <button type="submit" name="sub" value="create" class="btn btn-default">Details</button>
            </form>

        </td>
        <td>
            <form action="@Url.Action("ChooseJoin", new {sub = @item.LOP_ID})">
                <button type="submit" name="sub" value="@item.LOP_ID" class="btn btn-default">Join</button>
            </form>

        </td>

    </tr>
}

</table>

<h2>Tham gia vào lớp học mới</h2>

@* Tạo một lớp  *@

@*Chọn loại lớp
Chọn số buổi 
Chọn buổi*@

<form action="@Url.Action("Create")" method="get">
    <button type="submit" class="btn btn-default">Tạo lớp mới</button>
</form> 