@model IEnumerable<PBL3_2.Models.LoaiGoi>

@{
    ViewBag.Title = "List Membership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-bottom: 50px; margin-top: 50px;">
    <h2 style="color: green;">@ViewBag.Title</h2>
</div>


<table class="table">
    <tr>
        <th>
            Membership type
        </th>
        <th>
            Fee (Per session)
        </th>
        <th>
            Maximum number of customers
        </th>
        <th>
            PT Required
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GOI_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GOI_FEE)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.GOI_MAX_CUSTOMER)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.GOI_PT)
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.GOI_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GOI_ID })
        </td>
    </tr>
}

</table>
