@model PBL3_2.Models.AccountInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AccountInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_CCCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_CCCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_BIRTHDAY)
        </dt>

        <dd>
            <td> @string.Format("{0:dd-MM-yyyy}", Model.ACCOUNT_BIRTHDAY) </td>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_GENDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_GENDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_HEIGHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_HEIGHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_WEIGHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_WEIGHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_EMAIL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ACCOUNT_NAME }) |
    @Html.ActionLink("Back to List", "Index")
</p>
