@model PBL3_2.Models.AccountInfo

@{
    ViewBag.Title = "Edit_PersonalProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">
    Update my profile 
    <br />
    <br />

</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ACCOUNT_NAME)

        <div class="form-group">
            @Html.Label("USER_NAME", "Full name", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.USER_NAME, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.USER_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.USER_NAME, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            @Html.Label("ACCOUNT_CCCD", "Identification ID", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.ACCOUNT_CCCD, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.ACCOUNT_CCCD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ACCOUNT_CCCD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ACCOUNT_BIRTHDAY", "BIRTHDAY", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.ACCOUNT_BIRTHDAY, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.ACCOUNT_BIRTHDAY, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ACCOUNT_BIRTHDAY, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.ACCOUNT_GENDER, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ACCOUNT_GENDER)
                        @Html.ValidationMessageFor(model => model.ACCOUNT_GENDER, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        <div class="form-group">
            @Html.Label("ACCOUNT_GENDER", "Gender", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.ACCOUNT_GENDER, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ACCOUNT_GENDER" id="female" value="false" @(Model.ACCOUNT_GENDER == false ? "checked" : "") />
                    <label class="form-check-label" for="female">
                        Female
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="ACCOUNT_GENDER" id="male" value="true" @(Model.ACCOUNT_GENDER == true ? "checked" : "") />
                    <label class="form-check-label" for="male">
                        Male
                    </label>
                </div>
                @Html.ValidationMessageFor(model => model.ACCOUNT_GENDER, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("ACCOUNT_HEIGHT", "Height (cm)", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.ACCOUNT_HEIGHT, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.ACCOUNT_HEIGHT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ACCOUNT_HEIGHT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ACCOUNT_WEIGHT", "Weight (kg)", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.ACCOUNT_WEIGHT, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.ACCOUNT_WEIGHT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ACCOUNT_WEIGHT, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("ACCOUNT_PHONE", "Phone number", new { @class = "control-label col-md-2" })

            @*@Html.LabelFor(model => model.ACCOUNT_PHONE, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.ACCOUNT_PHONE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ACCOUNT_PHONE, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.ACCOUNT_EMAIL)



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>


    </div>
}


<div style="margin-left: 200px;">
    @Html.ActionLink("Back to List", "Index")
</div>