@model List<PBL3_2.Models.Account>

@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity;
@using PBL3_2.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework


@{
    ViewBag.Title = "WatchYourProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center;">
    Your profile
    <br />
    <br />

</h1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="container">



    <table class="table table-borde red">

        <tr>
            <th>
                <p> <span style="font-size: 120%;color: rgb(3, 119, 252);">User name </span> </p>

                @*@Html.ActionLink("User name", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ACCOUNT_NAME", strSearchThietBi = ViewBag.CurrentFilter })*@

            </th>
            <th>
                <p> <span style="font-size: 120%;color: rgb(3, 119, 252);">Your name </span> </p>

                @*@Html.ActionLink("Name", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "USER_NAME", strSearchThietBi = ViewBag.CurrentFilter })*@
            </th>
            <th>
                <p> <span style="font-size: 120%;color: rgb(3, 119, 252);">Birth day </span> </p>

                @*@Html.ActionLink("Birth day", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ACCOUNT_BIRTHDAY", strSearchThietBi = ViewBag.CurrentFilter })*@
            </th>
            <th>
                <p> <span style="font-size: 120%;color: rgb(3, 119, 252);">Gender </span> </p>

            </th>
            <th>
                <p> <span style="font-size: 120%;color: rgb(3, 119, 252);">Height(cm) </span> </p>

                @*@Html.ActionLink("Height(cm)", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ACCOUNT_HEIGHT", strSearchThietBi = ViewBag.CurrentFilter })*@
            </th>
            <th>
                <p> <span style="font-size: 120%;color: rgb(3, 119, 252);">Weight(kg) </span> </p>

                @*@Html.ActionLink("Weight(kg)", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ACCOUNT_WEIGHT", strSearchThietBi = ViewBag.CurrentFilter })*@
            </th>
            <th>
                <p> <span style="font-size: 120%;color: rgb(3, 119, 252);">Phone number </span> </p>

                @*@Html.ActionLink("Phone", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ACCOUNT_PHONE", strSearchThietBi = ViewBag.CurrentFilter })*@
            </th>
            <th>
                <p> <span style="font-size: 120%;color: rgb(3, 119, 252);">Email </span> </p>

                @*@Html.ActionLink("Email", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ACCOUNT_EMAIL", strSearchThietBi = ViewBag.CurrentFilter })*@
            </th>
            <th>
                <p> <span style="font-size: 120%;color: rgb(3, 119, 252);">Identification ID </span> </p>

                @*@Html.ActionLink("Identification ID", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ACCOUNT_CCCD", strSearchThietBi = ViewBag.CurrentFilter })*@
            </th>
            <th>
                <p> <span style="font-size: 120%;color: rgb(3, 119, 252);">Role </span> </p>

                @*@Html.ActionLink("Role", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "ACCOUNT_ROLE", strSearchThietBi = ViewBag.CurrentFilter })*@
            </th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @{
                        if (@item.ACCOUNT_NAME != null)
                        {

                            <td><span style="font-size: 120%;">@item.ACCOUNT_NAME</span></td>
                        }
                        else
                        {
                            //continue;
                            <td><span style="font-size: 120%;">Null</span></td>


                        }

                        if (@item.AccountInfo.USER_NAME != null)
                        {
                            <td><span style="font-size: 120%;">@item.AccountInfo.USER_NAME</span></td>
                        }
                        else
                        {
                            //continue;
                            <td><span style="font-size: 120%;">Null</span></td>
                        }

                        if (@item.AccountInfo.ACCOUNT_BIRTHDAY != null)
                        {
                            <td><span style="font-size: 120%;">@string.Format("{0:dd-MM-yyyy}", item.AccountInfo.ACCOUNT_BIRTHDAY)</span></td>
                        }
                        else
                        {
                            //continue;

                            <td><span style="font-size: 120%;">Null</span></td>
                        }
                        if (@item.AccountInfo.ACCOUNT_GENDER != null)
                        {
                            if (@item.AccountInfo.ACCOUNT_GENDER == true)
                            {
                                <td><span style="font-size: 120%;">Male</span></td>

                                @*<td>Male</td>*@
                            }
                            else
                            {
                                <td><span style="font-size: 120%;">Female</span></td>

                                @*<td>Female</td>*@
                            }

                        }
                        else
                        {
                            //continue;

                            <td><span style="font-size: 120%;">Null</span></td>
                        }


                        if (@item.AccountInfo.ACCOUNT_HEIGHT != null)
                        {
                            <td><span style="font-size: 120%;">@item.AccountInfo.ACCOUNT_HEIGHT</span></td>

                            @*<td>@item.AccountInfo.ACCOUNT_HEIGHT </td>*@
                        }
                        else
                        {
                            //continue;

                            <td><span style="font-size: 120%;">Null</span></td>
                        }

                        if (@item.AccountInfo.ACCOUNT_WEIGHT != null)
                        {
                            <td><span style="font-size: 120%;">@item.AccountInfo.ACCOUNT_WEIGHT</span></td>

                        }
                        else
                        {
                            //continue;

                            <td><span style="font-size: 120%;">Null</span></td>
                        }

                        if (@item.AccountInfo.ACCOUNT_PHONE != null)
                        {
                            <td><span style="font-size: 120%;">@item.AccountInfo.ACCOUNT_PHONE</span></td>
                        }
                        else
                        {
                            //continue;

                            <td><span style="font-size: 120%;">Null</span></td>
                        }

                        if (@item.AccountInfo.ACCOUNT_EMAIL != null)
                        {
                            <td><span style="font-size: 120%;">@item.AccountInfo.ACCOUNT_EMAIL</span></td>

                        }
                        else
                        {
                            //continue;

                            <td><span style="font-size: 120%;">Null</span></td>
                        }

                        if (@item.AccountInfo.ACCOUNT_CCCD != null)
                        {
                            <td><span style="font-size: 120%;">@item.AccountInfo.ACCOUNT_CCCD</span></td>
                        }
                        else
                        {
                            //continue;

                            <td><span style="font-size: 120%;">Null</span></td>
                        }

                        if (@item.ACCOUNT_ROLE != null)
                        {
                            if (@item.ACCOUNT_ROLE == "2")
                            {
                                <td><span style="font-size: 120%;">Admin</span></td>
                            }
                            if (@item.ACCOUNT_ROLE == "1")
                            {
                                <td><span style="font-size: 120%;">Staff</span></td>
                            }
                            if (@item.ACCOUNT_ROLE == "0")
                            {
                                <td><span style="font-size: 120%;">Customer</span></td>
                            }
                        }
                        else
                        {
                            //continue;

                            <td><span style="font-size: 120%;">Null</span></td>
                        }
                    }


                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
