@model PagedList.IPagedList<PBL3_2.Models.Account>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Danh Sach khach hang";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="container">

    <h2>Danh sách</h2>



    @using (Html.BeginForm("XemDanhSachKhachHang", "AccountInfoes", FormMethod.Get))
    {
        <p>
            @Html.TextBox("strSearchThietBi", ViewBag.CurrentFilter as string)
            <button type="submit" class="btn btn-primary">Search</button> |
            @*<a href="~/ThietBis/Index">Back to list</a>*@
        </p>
    }


    <table class="table table-borde red">

        <tr>
            <th>
                Tên đăng nhập
            </th>
            <th>
                Tên người dùng
             </th>
            <th>
                Sinh nhật
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Chiều cao(cm)
            </th>
            <th>
                Cân nặng(kg)
            </th>
            <th>
                SĐT
            </th>
            <th>
                Email
            </th>
            <th>
                CCCD
            </th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AccountInfo.ACCOUNT_NAME</td>
                    <td>@item.AccountInfo.USER_NAME</td>
                    <td> @string.Format("{0:dd-MM-yyyy}", item.AccountInfo.ACCOUNT_BIRTHDAY) </td>

                    @if (item.AccountInfo.ACCOUNT_GENDER == true)
                    {
                        <td>Nam</td>
                    }
                    else
                    {
                        <td>Nữ</td>
                    }
                    <td>@item.AccountInfo.ACCOUNT_HEIGHT</td>
                    <td>@item.AccountInfo.ACCOUNT_WEIGHT</td>
                    <td>@item.AccountInfo.ACCOUNT_PHONE</td>
                    <td>@item.AccountInfo.ACCOUNT_EMAIL</td>
                    <td>@item.AccountInfo.ACCOUNT_CCCD</td>
                </tr>
            }
        </tbody>
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, currentFilter = ViewBag.CurrentFilter }))

</div>
