@model PBL3_2.Models.Account

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountInfo.USER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountInfo.USER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_ROLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_ROLE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ACCOUNT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
