@model PBL3_2.Models.ThietBi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Device</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label for="THIETBI_NAME">Name of devices</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THIETBI_NAME)
        </dd>

        <dt>
            <label for="THIETBI_STATUS">Number of broken devices</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THIETBI_STATUS)
        </dd>

        <dt>
            <label for="THIETBI_NUM">Number of devices</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THIETBI_NUM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.THIETBI_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
