@model IEnumerable<PBL3.Models.BienLai>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BIENLAI_PAYMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIENLAI_START)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIENLAI_END)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.ACCOUNT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lop.LOP_STAFFID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BIENLAI_PAYMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIENLAI_START)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIENLAI_END)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.ACCOUNT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lop.LOP_STAFFID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BIENLAI_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BIENLAI_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BIENLAI_ID })
        </td>
    </tr>
}

</table>
