@model IEnumerable<PBL3_2.Models.BienLai>


@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity;
@using PBL3_2.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Receipts</h2>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    -->
<div>
    <form action="~/BienLais/Index">
        Name :
        <input type="text" name="TenNguoiTraTien" value="@ViewBag.TenNguoiTraTien" placeholder="Name of payer" />
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        Begin day :
        <input type="date" name="Batdau" value="2023-05-04" />
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        End day :
        <input type="date" name="Ketthuc" value="2023-05-04" />
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <button type="submit" class="btn btn-primary">Search</button> |
        <a href="~/BienLais/Index">Back to list</a>
    </form>
</div>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Payer", "Index", new { TenNguoiTraTien = (string)ViewBag.TenNguoiTraTien, SortBy = 1, SortOrder = ((int)ViewBag.SortOrder == 0 || (int)ViewBag.SortOrder == 2) ? 1 : 2 })
        </th>
        <th>
            @Html.ActionLink("Cost", "Index", new { TenNguoiTraTien = (string)ViewBag.TenNguoiTraTien, SortBy = 2, SortOrder = ((int)ViewBag.SortOrder == 0 || (int)ViewBag.SortOrder == 2) ? 1 : 2 })
        </th>
        <th>
            @Html.ActionLink("Begin day", "Index", new { TenNguoiTraTien = (string)ViewBag.TenNguoiTraTien, SortBy = 3, SortOrder = ((int)ViewBag.SortOrder == 0 || (int)ViewBag.SortOrder == 2) ? 1 : 2 })
        </th>
        <th>
            @Html.ActionLink("End day", "Index", new { TenNguoiTraTien = (string)ViewBag.TenNguoiTraTien, SortBy = 4, SortOrder = ((int)ViewBag.SortOrder == 0 || (int)ViewBag.SortOrder == 2) ? 1 : 2 })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account.ACCOUNT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BIENLAI_PAYMENT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BIENLAI_START)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BIENLAI_END)
            </td>
            <td>
                @*                @Html.ActionLink("Edit", "Edit", new { id = item.BIENLAI_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BIENLAI_ID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.BIENLAI_ID })
            </td>
        </tr>
    }

</table>
@{
    if (User.Identity.IsAuthenticated)
    {
        var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        var currentUser = userManager.FindById(User.Identity.GetUserId());
        var currentRole = userManager.GetRoles(currentUser.Id).FirstOrDefault();

        if (currentRole == "Admin")
        {
            int cost = 0;
            foreach (var item in Model)
            {
                cost += (int)item.BIENLAI_PAYMENT;
            }
            <hr />
            <h4 class="text-secondary">Total income : @cost</h4>
        }
    }
}