@model IEnumerable<PBL3.Models.ThietBi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.THIETBI_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THIETBI_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THIETBI_NUM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.THIETBI_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THIETBI_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.THIETBI_NUM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.THIETBI_ID.Trim() }) |
            @Html.ActionLink("Details", "Details", new { id=item.THIETBI_ID.Trim() }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.THIETBI_ID.Trim() })
        </td>
    </tr>
}

</table>
