
@model PagedList.IPagedList<PBL3.Models.ThietBi>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



@using (Html.BeginForm("Index", "ThietBis", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("strSearchThietBi", ViewBag.CurrentFilter as string)
        <input class="btn btn-default" type="submit" value="Filter" /> |
        <a href="~/ThietBis/Index">Back to list</a>
    </p>
}
<table class="table table-borde red">

    <tr>
        <th>
            @*Khi người dùng bấm sắp xếp lần đầu sẽ là Ascending, những lần sau sẽ ngược lại với SortOrder đang có. VD: Asc-Desc-Asc-...  *@


            @*@Html.DisplayNameFor(model => model.THIETBI_NAME)*@
            @Html.ActionLink("Tên Thiết bị", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "THIETBI_NAME", strSearchThietBi = ViewBag.CurrentFilter })

        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.THIETBI_STATUS)*@
            @Html.ActionLink("Tình trạng", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "THIETBI_STATUS", strSearchThietBi = ViewBag.CurrentFilter })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.THIETBI_NUM)*@
            @Html.ActionLink("Số lượng", "Index", new { SortOrder = (ViewBag.SortOrder == null) ? "Asc" : (ViewBag.sortOrder == "Asc" ? "Desc" : "Asc"), SortBy = "THIETBI_NUM", strSearchThietBi = ViewBag.CurrentFilter })

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.THIETBI_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THIETBI_STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THIETBI_NUM)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.THIETBI_ID.Trim() }) |
                @Html.ActionLink("Details", "Details", new { id = item.THIETBI_ID.Trim() }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.THIETBI_ID.Trim() })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter }))

